<div class="container">
<section class="pt8 pb0">
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-9 mb-xs-24">
                <% page.posts.sort('date', -1).each(function(post){ %>
                <div class="post-snippet mb64">
                    <div class="post-title">
                        <span class="label date gold"><%= date(post.updated, site.date_format)  || '' %></span>
                        
                        <a href="<%- url_for(post.path) %>"><h4 class="inline-block"><%= post.title || '' %></h4></a>
                            <%- image_tag("../" + url_for(post.path) + post.cover_image, { alt: post.title, class: "mb24" }) %>
                        </a>
                    </div>
                    <ul class="post-meta">
                        <% if (post.tags && post.tags.data && post.tags.data.length){ %>
                            <% post.tags.data.forEach(function(tag){ %>
                                <li>
                                    <i class="ti-tag"></i>
                                    <span> <a href="/tags/<%= tag.name %>"><%= tag.name %></a> </span>
                                </li>
                            <% }) %>
                        <% } %>
                    </ul>
                    <hr>
                    <%- post.excerpt %>
                    <a class="btn btn-sm" style="margin-top:10px;" href="<%- url_for(post.path) %>">Read More</a>
                </div>
                <% }) %>               
                <!--end of post snippet-->
                <div class="text-center">
                    <%- partial('_partial/pagination') %>
                </div>
            </div>
            <!--end of nine col-->
            <div class="col-md-3 hidden-sm">
                <!--end of widget-->
                <%- partial('_partial/recent-posts') %>
                <!--end of widget-->
                <div class="widget">
                    <h6 class="title">Latest Updates</h6>
                    <hr>
                    <div class="twitter-feed">
                        <div class="tweets-feed" data-feed-name="mrareweb">
                        </div>
                    </div>
                </div>
                <!--end of widget-->
            </div>
            <!--end of sidebar-->
        </div>
        <!--end of container row-->
    </div>
    <!--end of container-->
</section>
</div>